@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
    -webkit-text-stroke-width: 1px;
}

.text-stroke.stroke-black {
    -webkit-text-stroke-color: black;
}

.text-stroke.stroke-white {
    -webkit-text-stroke-color: white;
}

.card {
    @apply border-4 border-gray-800 rounded-2xl;
}

.icon-center{
    @apply flex justify-center items-center cursor-pointer;
}

.wave{
    @apply w-full select-none;
}